p { 
  text-align: center;   color: teal;
}
#para1 {
  text-align: center;   color: teal;
}
.center {
  text-align: center;   color: grey;
}
body {
	background: goldenrod;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: turquoise;
	text-align: center;
}
.left { text-align: left; }
.green { color: green; }
.wide { width: 60%; }
.attention { font-weight: bold; }

.projects{
    background: #00b3d1;
}


