p { 
  text-align: center;   color: teal;
}
#para1 {
  text-align: center;   color: teal;
}
.center {
  text-align: center;   color: grey;
}
body {
	background: [goldenrod];
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: [turquoise];
	text-align: center;
}
