p { 
  text-align: center;   color: teal; font: 1em bold;
}
#para1 {
  text-align: center;   color: teal;
}
.center {
  text-align: center;   color: grey;
}
body {
	background: goldenrod;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: black;
	text-align: center;
}
.left { text-align: left; }
.green { color: green; }
.wide { width: 60%; }
.attention { font-weight: bold; }

.contact{
    background: #00b3d1;
}

.about{
    background: #00b3d1;
}

.Skill
{
	background: #00b3d1;
}

.mission 
{
	background: #00b3d1;
}

.projects
{
background: #00b3d1;	
}


h2{
  	color: black;
	text-align: center;
}

